:root {
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --pc-heading-color: #343a40;
    --pc-active-background: #e9ecef;
    --pc-sidebar-background: #fff;
    --pc-sidebar-color: #141414;
    --pc-sidebar-color-rgb: 20, 20, 20;
    --pc-sidebar-active-color: #13879b;
    --pc-sidebar-shadow: 1px 0 0 0px rgb(240 240 240);
    --pc-sidebar-caption-color: #495057;
    --pc-header-background: #fff;
    --pc-header-color: #141414;
    --pc-header-shadow: 0 1px 0 0px rgb(240 240 240);
    --pc-card-box-shadow: none;
    --pc-header-submenu-background: #ffffff;
    --pc-header-submenu-color: #6c757d;
}

.pc-sidebar .pc-navbar > .pc-item.active > .pc-link {
    font-weight: 500;
    color: var(--pc-sidebar-active-color);
}
.pc-sidebar .pc-navbar > .pc-item.active > .pc-link:before {
    opacity: 0;
    background: var(--pc-sidebar-active-color);
}
.pc-sidebar .pc-navbar > .pc-item.active:not(.pc-hasmenu) > .pc-link::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 100%;
    background: var(--pc-sidebar-active-color);
}
.pc-sidebar .pc-navbar > .pc-item.active:not(.pc-hasmenu) > .pc-link:before {
    opacity: 0.1;
    background: var(--pc-sidebar-active-color);
}
.pc-sidebar .pc-navbar > .pc-item:hover:not(.active) > .pc-link:before {
    background: #000;
}

.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-item.pc-trigger > .pc-link,
.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-item.active > .pc-link {
    font-weight: 500;
}

.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-item.pc-trigger > .pc-link,
.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-item.active > .pc-link,
.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-item:focus > .pc-link {
    color: var(--pc-sidebar-active-color);
}
.pc-sidebar
    .pc-navbar
    > .pc-item
    .pc-submenu
    .pc-item.pc-trigger
    > .pc-link:before,
.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-item.active > .pc-link:before,
.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-item:focus > .pc-link:before {
    opacity: 0.1;
    background: var(--pc-sidebar-active-color);
}
.pc-sidebar
    .pc-navbar
    > .pc-item
    .pc-submenu
    .pc-item.pc-trigger
    > .pc-link:after,
.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-item.active > .pc-link:after,
.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-item:focus > .pc-link:after {
    background: var(--pc-sidebar-active-color);
}

.pc-sidebar .navbar-wrapper {
    width: 260px;
    background: inherit;
}
.pc-sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.pc-sidebar .pc-caption {
    color: var(--pc-sidebar-caption-color);
    display: block;
    padding: 24px 24px 12px !important;
    text-transform: capitalize;
    position: relative;
    line-height: 1.66;
    font-size: 0.75rem;
    font-weight: 500;
}
.pc-sidebar .pc-caption:first-child {
    padding-top: 10px !important;
}
.pc-sidebar .pc-caption:first-child::after {
    display: none;
}
.pc-sidebar .pc-caption svg,
.pc-sidebar .pc-caption i {
    display: none;
}
.pc-sidebar .pc-caption label {
    margin-bottom: 0;
}
.pc-sidebar .pc-caption span:not(.badge) {
    display: block;
    color: #67758a;
    font-size: 14px;
    font-weight: 500;
}
.pc-sidebar .pc-caption:first-child {
    display: none;
}
.pc-sidebar .pc-micon {
    margin-right: 15px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.pc-sidebar .pc-micon i {
    font-size: 18px;
    vertical-align: middle;
}
.pc-sidebar .pc-micon i.material-icons-two-tone {
    font-size: 22px;
    display: inline-block;
}
.pc-sidebar .pc-micon > svg {
    width: 18px;
    height: 18px;
    fill: rgba(114, 103, 239, 0.2);
    display: inline-block;
}
.pc-sidebar .pc-link {
    display: block;
    padding: 10px 24px;
    padding-left:30px;
    color: #000;
    position: relative;
    font-size: 14px;
    font-weight: 400;
}
.pc-sidebar .pc-link:focus,
.pc-sidebar .pc-link.active,
.pc-sidebar .pc-link:hover {
    text-decoration: none;
}
.pc-sidebar .pc-navbar > .pc-item > .pc-link::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.05;
}

.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-item > .pc-link::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.05;
}
.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-item > .pc-link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    transition: all 0.08s cubic-bezier(0.37, 0.24, 0.53, 0.99);
}

.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-item:hover > .pc-link {
    color: #000;
}
.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-item:hover > .pc-link:before {
    opacity: 0.05;
    background: #000;
}

.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-link {
    padding: 10px 30px 10px 58px;
}
.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-submenu .pc-link {
    padding: 10px 30px 10px 80px;
}
.pc-sidebar .pc-navbar > .pc-item .pc-submenu .pc-submenu .pc-submenu .pc-link {
    padding: 10px 30px 10px 95px;
}
.pc-sidebar .pc-item.disabled a {
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pc-sidebar .pc-arrow {
    float: right;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}
.pc-sidebar .pc-arrow > svg {
    width: 14px;
    height: 14px;
}
.pc-sidebar .pc-badge {
    margin-left: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1;
    float: right;
    background: var(--bs-primary);
}
.pc-sidebar .m-header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 16px 24px;
}
.pc-sidebar .m-header .logo-sm {
    display: none;
}
.pc-sidebar .navbar-content {
    position: relative;
    height: calc(100vh - 60px);
    padding: 10px 0;
}
.pc-sidebar .card {
    box-shadow: var(--bs-card-box-shadow);
    margin: 15px;
}
.pc-sidebar .pc-hasmenu:not(.pc-trigger) > .pc-submenu {
    display: none;
}
.pc-sidebar .pc-hasmenu.pc-trigger > .pc-submenu {
    display: block;
}
.pc-sidebar .pc-hasmenu.pc-trigger > .pc-link > .pc-arrow {
    transform: rotate(90deg);
}

.pc-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.15);
}

[data-pc-sidebar-caption="false"] .pc-sidebar .pc-caption {
    display: none;
}

@media (min-width: 1025px) {
    .navbar-overlay .pc-sidebar.pc-over-menu-active .navbar-wrapper {
        position: relative;
        z-index: 5;
    }
    .navbar-overlay .pc-sidebar:not(.pc-over-menu-active) {
        left: -260px;
        box-shadow: none;
    }
    .pc-sidebar {
        transition: width 0.15s ease;
    }
    .pc-sidebar ~ .pc-header {
        transition: left 0.15s ease;
    }
    .pc-sidebar ~ .pc-footer,
    .pc-sidebar ~ .pc-container {
        transition: margin-left 0.15s ease;
    }
    .pc-sidebar.pc-sidebar-hide {
        width: 0;
    }
    .pc-sidebar.pc-sidebar-hide ~ .pc-header {
        left: 0;
    }
    .pc-sidebar.pc-sidebar-hide ~ .pc-footer,
    .pc-sidebar.pc-sidebar-hide ~ .pc-container {
        margin-left: 0px;
    }
    .pc-header .pc-h-item.pc-sidebar-popup {
        display: none;
    }
}
@media (max-width: 1024px) {
    .pc-header .pc-h-item.pc-sidebar-collapse {
        display: none;
    }
    .pc-sidebar {
        left: -260px;
        box-shadow: none;
        top: 0;
        transition: all 0.15s ease-in-out;
    }
    .pc-sidebar.mob-sidebar-active {
        left: 0;
    }
    .pc-sidebar.mob-sidebar-active .navbar-wrapper {
        position: relative;
        z-index: 5;
        background: inherit;
    }
}
